*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*NAVBAR*/
#mynavlinks {
	color: #0eff7d;
}
#mynavlinks:hover {
	color: white;
}

/*HOME PAGE*/
#landing {
	background: url('landing.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	padding: 0;
	margin: 0;
	margin-bottom: 20vh;
	margin-top: 5vh;
	background-attachment: fixed;
}
.greeting {
	margin-top: 25%;
	color: white;
	text-align: center;
	font-size: 3rem;
}
.landingquote {
	color: white;
	margin-top: 5%;
	text-align: center;
	font-size: 1.75rem;
	font-style: italic;
}
#landingprojectbutton{
	color: white;
	background-color: #0eff7d;
	border: 2px solid white;
}
#landingprojectbutton:hover{
	color: #0eff7d;
	background-color: white;
	border: 2px solid #0eff7d;
}
#landingcontactbutton{
	color: #0eff7d;
	background-color: white;
	border: 2px solid #0eff7d;
}
#landingcontactbutton:hover{
	color: white;
	background-color: #0eff7d;
	border: 2px solid white;
}



#homeMe{
	background: url('me.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	margin-bottom: 20vh;
	margin-top: 5vh;
}
.homeMename{
	margin-top: 15%;
	color: white;
	text-align: center;
	font-size: 3rem;
}
.profile{
	color: white;
	font-size: 1.15rem;
}



#morehomeMe{
	background: url('moreme.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	margin-bottom: 20vh;
	margin-top: 5vh;
}




#skills{
	background: url('skills.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 150vh;
	margin: 0;
	margin-bottom: 20vh;
	margin-top: 5vh;
}
.skillsheading{
	margin-top: 15%;
	color: #0b0c10;
	text-align: center;
	font-size: 3rem;
}